<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.AndroidX.Activity" version="1.2.4" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Annotation" version="1.2.0" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Annotation.Experimental" version="1.1.0" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Arch.Core.Common" version="2.1.0.8" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Arch.Core.Runtime" version="2.1.0.8" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Collection" version="1.1.0.7" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Core" version="1.6.0" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.CustomView" version="1.1.0.6" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Fragment" version="1.3.6" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Lifecycle.Common" version="2.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData" version="2.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData.Core" version="2.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Lifecycle.Runtime" version="2.3.1.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Lifecycle.Service" version="2.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Lifecycle.ViewModel" version="2.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Lifecycle.ViewModelSavedState" version="2.3.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Loader" version="1.1.0.7" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Migration" version="1.0.8" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.MultiDex" version="2.0.1.7" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Room.Common" version="2.3.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Room.Runtime" version="2.3.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.SavedState" version="1.1.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Sqlite" version="2.1.0.7" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Sqlite.Framework" version="2.1.0.7" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Tracing.Tracing" version="1.0.0" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.VersionedParcelable" version="1.1.1.7" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.ViewPager" version="1.0.0.7" targetFramework="monoandroid90" />
  <package id="Xamarin.AndroidX.Work.Runtime" version="2.5.0.2" targetFramework="monoandroid90" />
  <package id="Xamarin.Build.Download" version="0.10.0" targetFramework="monoandroid90" />
  <package id="Xamarin.Google.Guava.ListenableFuture" version="1.0.0.3" targetFramework="monoandroid90" />
  <package id="Xamarin.Google.UserMessagingPlatform" version="1.0.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Ads.Base" version="120.2.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Ads.Identifier" version="117.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Ads.Lite" version="120.2.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Basement" version="117.6.0.1" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Measurement.Base" version="119.0.0" targetFramework="monoandroid90" />
  <package id="Xamarin.GooglePlayServices.Measurement.Sdk.Api" version="119.0.0" targetFramework="monoandroid90" />
</packages>